<html meta charset="UTF-8">
<head>
    <link href="/app.css" rel="stylesheet" >
</head>
<script>
    function form_submit(event){
        event.preventDefault();
        var warning = document.getElementById("warning-message");
        if (!document.getElementById("password").value){
            document.getElementById("warning-message").innerHTML = "Password is mandatory";
            document.getElementById("alert").style.display = "block";
            // document.getElementById("warning-message").style.visibility = "visible";
        }
        else if (!document.getElementById("verify_password").value) {
            document.getElementById("warning-message").innerHTML = "Confirm password is mandatory";
            document.getElementById("alert").style.display = "block";
            // document.getElementById("warning-message").style.visibility = "visible";
        } else {
        event.preventDefault();
        var path = new URL(document.location.href).pathname;
        path = path.split('/');
        var token = path[path.length - 1];
        
        var object = {
            password: document.getElementById("password").value,
            verify_password: document.getElementById("verify_password").value,
            token: token
        };
        
        var json = JSON.stringify(object);
        console.log(json);

        // const url = "http://localhost:9000/api/auth/resetpassword";
        const url = "/api/auth/resetpassword";
        const other_params = {
            headers : { "content-type" : "application/json; charset=UTF-8"},
            body : json,
            method : "POST",
            mode : "cors"
        };

        fetch(url, other_params)
            .then(function(response) {
            if (response.ok) {
                response.json().then(function(data){
                    document.getElementById("success").style.display = "block";
                    document.getElementById("main").style.display = "none";
                    window.location.href = "/home"
                });
            } else {
                response.json().then(function(data){
                    console.log(data.message);
                    document.getElementById("warning-message").innerHTML = data.message;
                    document.getElementById("alert").style.display = "block";
                    // document.getElementById("warning-message").style.visibility = "visible";
                })
            }
        });
    }
        return true;
    }
</script>
<body>
    <div class="success" id="success">
        <h1>Password Reset Successful! Click <a href="/"> here</a> for home page</h1>
    </div>
    <!-- action="/api/auth/resetpassword" method="post" -->
    <div id="main">
        <div id="alert" class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <p id="warning-message"></p>
          </div>
        <form onsubmit="return form_submit(event)" id="reset-pass">
        <!-- <form  id="reset-pass"> -->
            <h2>Reset Password</h2>
            <h3 id="message"></h3>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder="Enter Password" required />
            </div>
            <div class="input-field">
                <input type="password" name="verify_password" id="verify_password" placeholder="Confirm Password" required />
            </div>
            <input type="Submit" value="Submit" onclick="form_submit(event)">
            <!-- <input type="Submit" value="Submit" > -->
        </form>
    </div>
</body>
</html>